# Ignore the virtual environment folder
chapters/cnn_classification/venv/
chapters/cnn_classification/.ipynb_checkpoints/
# Ignore archive files
chapters/cnn_classification/archive.zip
chapters/cnn_classification/archive/
chapters/kidney_stones/venv/
chapters/kidney_stones/.ipynb_checkpoints/
chapters/kidney_stones/data/
chapters/kidney_stones/archive.zip
chapters/CNN_bounding_box_detect/archive.zip
chapters/CNN_bounding_box_detect/data/
.venv/
runs/
chapters/crop_weeds/
